== render 'layouts/headbar'

h3 User
p 
| Name: #{@user.firstname if @user.firstname}
p 
| Email: #{@user.email if @user.email}
p
=> link_to 'Sign Out', destroy_user_session_path, :method => 'delete'
